<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue test</title>
	<script type="text/javascript" src="./vue.js"></script>
	<style type="text/css">
		h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
	</style>
</head>
<body>
	<!-- 练习1:全局注册组件 -->
	<h4>1、全局注册组件</h4>
	<div id="global">
		<test></test>
	</div>
	<!-- 练习2:局部注册组件 -->
	<h4>2、局部注册组件</h4>
	<div id="local">
		<local></local>
	</div>
	<!-- 练习3:数据绑定 -->
	<h4>3、数据绑定</h4>
	<div id="demo">
	  <p>{{message}}</p>
	  <input v-model="message">
	</div>
	<!-- 练习4、props -->
	<h4>4、props</h4>
	<div id="prop">
		<child v-bind:message="message"></child>
	</div>
	<!-- 练习5、父子组件通信 -->
	<h4>5、父子组件通信</h4>
	<div id="communication">
		<input v-model="val">
		<test :test="val"></test>
	</div>
</body>
<script type="text/javascript">
	//练习1:全局注册组件
	Vue.component("test",{
		template:"<p @click='change'>{{msg}}</p>",
		data:function(){
			return {msg:"这是全局注册的组件"}
		},
		methods:{
			change:function(){
				console.log(this);
				/*console.log(this.$data);
				console.log(this.$el);
				console.log(this.$options);
				console.log(this.$root);
				console.log(this.$children);
				console.log(this.$slots);
				console.log(this.$refs);
				console.log(this.$isServer);*/
			}
		}
	})
	var vm1 = new Vue({
		el:"#global"
	});
	//练习2:局部注册组件
	var vm2 = new Vue({
		el:"#local",
		components:{
			local:{
				template:"<p @click='change'>{{msg}}</p>",
				data:function(){
					return {msg:"这是局部注册的组件"}
				},
				methods:{
					change:function(){
						console.log(this);
					}
				}
			}
		}
	})
	//练习3:数据绑定
	var vm3 = new Vue({
		el:"#demo",
		data:{
			message:"Hello World!"
		}
	})
	//练习4:props
	var vm4 = new Vue({
		el:"#prop",
		data:{
			message:"Hello World!呵呵,实验成功"
		},
		components:{
			child:{
				template:"<span>{{message}}</span>",
				props:["message"],
			}
		}
	})
	//练习5、父子组件通信
	var vm5 = new Vue({
		el:"#communication",
		data:{val:1},
		components:{
			test:{
				props:['test'],
				template:'<input @keyup="findParent" v-model="test">',
				methods:{
					findParent:function(){
						console.log(this.$parent);
						console.log(this.$parent.val);
						console.log(this.$parent.$children.indexOf(this));
						console.log(this.$parent === this.$root);
					}
				}
			}
		}
	})
</script>
</html>